header.nav-section.sm-black-header nav.nav {
  background: rgb(255 255 255 / 5%) !important;

  -webkit-backdrop-filter: blur(24px) saturate(180%) !important;
  backdrop-filter: blur(24px) saturate(180%);

  border-bottom: 1px solid var(--gray-200);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);

  position: relative;
  z-index: 50;
}

header.nav-section.sm-black-header nav.nav ul.nav-links a {
  color: var(--gray-500);
}

header.nav-section.sm-black-header
  nav.nav
  ul.nav-links
  .dropdown.show
  a.active {
  background: var(--white);
}
header.nav-section.sm-black-header .dropdown {
  background: var(--gray-100);
}

header.nav-section.sm-black-header nav.nav ul.nav-links .dropdown.show a:hover {
  background: var(--white);
}
header.nav-section.sm-black-header button.mobile-menu-toggle {
  color: #242324;
}
