header.nav-section.sm-black-header nav.nav {
  background: var(--white);
}

header.nav-section.sm-black-header nav.nav ul.nav-links a {
  color: var(--gray-500);
}

header.nav-section.sm-black-header nav.nav ul.nav-links a.active {
  background: var(--white);
}
header.nav-section.sm-black-header .dropdown {
  background: var(--gray-100);
}

header.nav-section.sm-black-header nav.nav ul.nav-links a:hover {
  background: var(--white);
}
