/* header.nav-section.sm-black-header nav.nav {
  background: var(--white);
} */
/* Glassmorphism styles for the navigation */
header.nav-section.sm-black-header nav.nav {
  /* main glass */
  background: rgba(255, 255, 255, 0.6); /* strong white */

  backdrop-filter: blur(24px) saturate(180%) brightness(1.2);
  -webkit-backdrop-filter: blur(24px) saturate(180%) brightness(1.2);

  /* soft elevation */
  /* box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15); */
}

header.nav-section.sm-black-header nav.nav ul.nav-links a {
  color: var(--gray-500);
}

header.nav-section.sm-black-header
  nav.nav
  ul.nav-links
  .dropdown.show
  a.active {
  background: var(--white);
}
header.nav-section.sm-black-header .dropdown {
  background: var(--gray-100);
}

header.nav-section.sm-black-header nav.nav ul.nav-links .dropdown.show a:hover {
  background: var(--white);
}
header.nav-section.sm-black-header button.mobile-menu-toggle {
  color: #242324;
}
