.quote-sec {
  padding: 24px 0; /* ✅ কম padding = কম ফাঁকা */
  text-align: center;
}

.quote-sec .btn {
  margin-top: 18px;
}

/* .quote-text {
  display: inline-block;
  font-size: clamp(38px, 5vw, 82px); 
  font-weight: 600;
  line-height: 1.08;
} */

/* lines */
.q-line {
  display: block;
  overflow: hidden;
}

/* ✅ apply same gradient so text never disappears */
.q-line-inner {
  display: inline-block;
  will-change: transform, opacity;

  background: var(--gradient-primary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

section.quote-sec p {
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  text-transform: uppercase;
}
