/* =========================
   OUR PROCESS SECTION
========================= */
section.op-sec .op-right img.op-img {
  width: 100%;
}

section.op-sec h4.op-step img {
  height: 45px !important;
  width: auto !important;
}
.op-sec {
  background: #010309;
  padding: 70px 0;
  overflow: hidden;
}

/* title */
.op-title {
  color: #fff;
}

/* main box */
.op-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 40px;
}

/* LEFT TEXT */
.op-left {
  width: 43%;
  z-index: 2;
}

.op-step {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.op-step-letter {
  font-family: var(--font-heading);
  font-size: 52px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}

.op-step-text {
  font-size: 22px;
  font-weight: 600;
  color: #ff460c;
  font-family: var(--font-heading);
}

.op-desc {
  margin-top: 14px;
  max-width: 360px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
}

/* only desktop/tablet: reverse layout for odd slides */
.op-box.op-box-reverse {
  flex-direction: row-reverse !important;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 992px) {
  .op-box {
    flex-direction: column;
    text-align: center;
  }

  .op-left {
    width: 100%;
  }

  .op-desc {
    margin: 14px auto 0;
  }

  .op-right {
    width: 100%;
    height: 360px;
  }

  .op-img {
    object-position: center;
  }
}

.op-left .text4 {
  color: #c9c8c8;
}
