/* 
=====================================
    sub-hero-sec 
=====================================
*/
section.sub-hero-sec {
  overflow: hidden;
  position: relative;
}
section.sub-hero-sec .btn {
  background: transparent;
}
section.sub-hero-sec .wrap {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

section.sub-hero-sec .wrap .sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

section.sub-hero-sec .wrap .sub-title p {
  color: var(--gray-200);
}

section.sub-hero-sec h2.title2 {
  text-align: center;
  /* line-height: 72px; */
}

section.sub-hero-sec .btn {
  padding-top: 15px;
}

/*all mobile*/
@media (max-width: 767px) {
  section.sub-hero-sec h2.gradient-text.uppercase {
    font-size: 26px;
  }
  body section.sub-hero-sec .wrap .sub-title {
    margin-bottom: 20px;
  }
  section.sub-hero-sec h2.title2.uppercase {
    font-size: 40px;
    line-height: 50px;
  }

  section.sub-hero-sec .wrap {
    height: 700px;
  }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
}
